.container {
    display: grid;
    grid-template-areas: 'panel-header panel-header'
    'panel-content panel-content'
    'panel-footer panel-footer';
    grid-template-rows: 30% 50% 20%;
    height: 100%;
    width: 100%;
    border-radius: 10px;
}

.panel-header {
    display: flex;
    grid-area: panel-header;
}

.panel-content {
    display: flex;
    grid-template-areas: 'title title'
    'done-tasks pendding-tasks';
    grid-area: panel-content;
}

.panel-footer {
    display: flex;
    align-items: center;
    margin-top: 50px;
    grid-area: panel-footer;
}